<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.png">
    <title>Aboutdog</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Hi, ako pala ang naggawa ng website na ito. Lorem ipsum. Lorem ipsum. Lorem ipsum.</p>
        <p>Mapbox and weatherstack are used for this website</p>
        <img src="/img/ako.gif" class="mypic">
    </div>
    {{>footer}}
</body>
</html>